<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course not found</title>
</head>
<body>
<h1>Course not found</h1>
<h3 th:text="'Course = ' + ${idCourse}">Course ID</h3>
</body>
</html>
